# Laboratorio 2: Limpieza de datos

In [1]:
"""Importar Librerias """

"""crear dataframes"""
import pandas as pd

"""crear vectores, matrices y calculos estadisticos"""
import numpy as np

""" modulo para aplicar metodos a los datos de tipo texto"""
import string

""" crear tecnicas de imputacion de datos con estrategias"""
from sklearn.impute import SimpleImputer

## 1. Analizar el dataset

In [2]:
""" importar el dataset """
df = pd.read_csv('data_act_01.csv',sep=';')

""" visualizar diez primeros registros """
df.head(10)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
5,160913003,Ref'd,2016-03-31T00:00:00,18:29,2016-03-31T18:29:00,GOA,16th St/pond St,San Francisco,CA,1,NaN,Intersection
6,160913050,Homeless Complaint,2016-03-31T00:00:00,18:43,2016-03-31T18:43:00,ADV,Berwick Pl/harrison St,San Francisco,CA,1,NaN,Intersection
7,160913056,Homeless Complaint,2016-03-31T00:00:00,18:47,2016-03-31T18:47:00,HAN,Florida St/mariposa St,San Francisco,CA,1,NaN,Intersection
8,160913078,Agg Assault / Adw Dv,2016-03-31T00:00:00,18:52,2016-03-31T18:52:00,ND,100 Block Of Genebern Wy,San Francisco,CA,1,NaN,Premise Address
9,160913103,Encampment,2016-03-31T00:00:00,18:57,2016-03-31T18:57:00,ADV,2700 Block Of Folsom St,San Francisco,CA,1,NaN,Premise Address

In [3]:
""" obtener informacion de variables del dataset """
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

**Interpretación del dataset**: <br>
El dataset cuenta con 12 caracteristicas y 10051 muestras recopiladas. A simple vista la mayoría de las columnas poseen el tipo de dato objeto. Sin embargo, la característica 'CrimeId' y 'Range' son de tipo de dato numerico. Algunas columnas poseen datos faltantes, especialmente la caracteristica 'Range' que no contiene ni un valor en sus filas. Por otro lado, se utiliza el método *duplicated()* para verificar si existen registros duplicados en el dataset.

**Definir variables**

In [4]:
""" listar caracteristicas del dataset """
caracteristicas = ['CrimeId','OriginalCrimeTypeName','OffenseDate','CallTime','CallDateTime','Disposition','Address','City','State','AgencyId','AddressType']

# 2. Identificar errores en los datos del dataset

## 2.1 Localizar datos faltantes (Nan)

In [5]:
""" encontrar cantidad de datos faltantes en el dataset """
df.isnull().sum()

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

In [6]:
""" encontrar el promedio de los datos faltantes """
np.round(df.isnull().mean(),4)

CrimeId                  0.0000
OriginalCrimeTypeName    0.0000
OffenseDate              0.0000
CallTime                 0.0000
CallDateTime             0.0000
Disposition              0.0000
Address                  0.0000
City                     0.0319
State                    0.0003
AgencyId                 0.0000
Range                    1.0000
AddressType              0.0000
dtype: float64

El primer resultado de esta sección muestra las columnas o características que poseen valores nulos o datos faltantes. Existen 3 características que poseen esos datos desconocidos, las cuales son City, State y Range. El resto de columnas se encuentra con datos completos. También, se ha encontrado el promedio de estos datos faltantes. La columna City cuenta con promedio 31.9%, la columna State tiene el 0.3% y Range tiene un 100% de datos faltantes. En el caso de la característica Range tiene una particularidad la cual es que todas sus filas son datos faltantes.

#### **Errores encontrados:**
1. La columna City cuenta con un promedio de 31.9% de datos faltantes.
2. La columna State cuenta con un promedio de 0.3% de datos faltantes.
3. La columna Range tiene el 100% de datos faltantes, es decir todas sus filas no tienen un valor real hacia el cual se pueda hacer una referencia.

A continuación, se muestra una consulta de muestras que coinciden con datos faltantes en las columnas mencionadas:

In [7]:
df[(df['City'].isnull()) & (df['State'].isnull()) & (df['Range'].isnull())]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
5771,160942112,Auto Boost / Strip,2016-04-03T00:00:00,14:30,2016-04-03T14:30:00,REP,Martin Luther King Dr/bowling Green Dr,NaN,NaN,CA,NaN,1
8473,160953118,Auto Boost / Strip,2016-04-04T00:00:00,18:11,2016-04-04T18:11:00,REP,Conservatory Drive E/john F Kennedy Dr,NaN,NaN,CA,NaN,1

## 2.2 Hallar datos duplicados

In [8]:
""" comprobar existencia de registros duplicados en todo el dataset"""
df.duplicated().sum()

0

In [9]:
""" crear funcion para obtener datos duplicados por cada columna"""
def encontrar_duplicados(n_caracteristicas):
    for i in n_caracteristicas:
        """mostrar columna y suma de valores duplicados"""
        print(i,':' ,df.duplicated(i,keep=False).sum())

In [11]:
""" obtener datos duplicados por columnas"""
encontrar_duplicados(caracteristicas)

CrimeId : 6
OriginalCrimeTypeName : 9739
OffenseDate : 10048
CallTime : 9996
CallDateTime : 7779
Disposition : 10050
Address : 6520
City : 10048
State : 10051
AgencyId : 10051
AddressType : 10050

#### **Errores encontrados:**
4. Se identifica 6 datos que se repiten en la columna CrimeId, el cual se supone que deben ser datos únicos.

In [12]:
""" mostrar datos duplicados de la columna CrimeId """
df[df.duplicated('CrimeId', keep=False)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
26,160913455,Vandalism,2016-03-31T00:00:00,20:53,2016-03-31T20:53:00,ND,1600 Block Of Sunnydale Av,San Francisco,CA,1,NaN,Premise Address
1707,160913455,Susp,2016-04-01T00:00:00,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,NaN,Intersection
3792,160913455,Passing Call,2016-04-02T00:00:00,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
7045,160950496,Passing Call,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,HAN,University St/felton St,San Francisco,CA,1,NaN,Intersection
7046,160950496,Suspicious Vehicle,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,NaN,Premise Address
7047,160950496,Trespasser,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,San Francisco,CA,1,NaN,Premise Address

## 2.3 Identificar valores atípicos

#### **Encontrar valores únicos**

In [13]:
""" encontrar valores unicos de las caracteristicas """
def valores_unicos_etiquetas(n_caracteristicas):
    """ recorrer lista de características """
    for i in n_caracteristicas:
        """mostrar caracteristica y sus valores """
        display(i, df[i].unique(), '----')

In [14]:
""" ejecutar funcion para mostrar valores unicos"""
valores_unicos_etiquetas(caracteristicas)

'CrimeId'

array([160903280, 160912272, 160912590, ..., 160964227, 160964229,
       160964249], dtype=int64)

'----'

'OriginalCrimeTypeName'

array(['Assault / Battery', 'Homeless Complaint', 'Susp Info', 'Report',
       '594', "Ref'd", 'Agg Assault / Adw Dv', 'Encampment', 'Burglary',
       'Suspicious Person', 'Ip', 'Arrest Made', 'Tent',
       'Intoxicated Person', 'Guitar', 'H&r Veh Accident', 'Music',
       'Person Dumping', 'Vandalism', 'Petty Theft', '415',
       'Noise Nuisance', 'Fraud', 'Rep', 'Meet W/citizen',
       'Prisoner Transport', 'Poss', 'Trespasser', 'Stolen Vehicle',
       'Fight No Weapon', 'Check For Ped', 'Juvenile Disturbance',
       'Party', 'Lltd', 'Robbery', '601', '500e', '913', 'Traffic Stop',
       '909', 'Person W/gun', 'Suspicious Vehicle', 'Fight No Weapon Dv',
       'Audible Alarm', 'Parking', 'Pay', 'Silent Holdup Alarm',
       'Passing Call', 'Sleeper', 'Family', 'Thumping', 'Loud Music',
       '916', 'Att', 'Threats / Harassment', 'Boombox',
       'Traf Violation Tow', 'Dw', 'Bar Check', 'Suicide Attempt', 'Susp',
       'Crosswalk', 'Casing/917', 'Wireless-Drop', 'Uc Hastings/405',
       'Bomb Threat', 'Mentally Disturbed', 'Silent Alarm',
       'Traf Violation Cite', 'Person Breaking In', 'Complaint Unkn',
       '811', 'Casing', 'Prowler', 'Shots Fired', 'Shooting', '915',
       'Citizen Arrest', '919', '417', 'Person Screaming',
       'Well Being Check', '917', '917/811', 'Jo/bolo',
       'Wanted Vehicle / Sub', 'Ug', 'Poss Ip', 'Hold-Up', '531', 'Fare',
       'Construction', 'Drugs', 'Campers', 'Poss/601',
       'Assault / Battery Dv', 'X', 'Return', 'Rtl', 'Verbal', '518',
       'Meet W/officer', '488', 'Awol', 'Strongarm Robbery', 'Aggressive',
       'Male', "Veh's", 'Rz', 'Sw', 'Encampent', 'Loitering',
       'Muni Inspection', 'Auto Boost / Strip', 'Jo', 'Dw/rz', '22500e',
       'Sleepers', 'Fire', 'Mal', 'Trc 7.2.46', 'Reckless', 'Camper',
       '22500f', 'City Veh', 'Openline', 'Indecent Exposure',
       'Injury Veh Accident', 'Rept', 'Cw', '851', 'Prem Check',
       'Person W/knife', 'Ringing Doorbell', 'Veh Accident',
       'Sleeper 601', 'I/p', 'Video', 'Unoccupied', 'R/o Violation',
       'Psych Eval / Hold', 'Missing Adult', 'Vehicle Alarm',
       'Person Down', '418', 'Found Drugs', 'Citizen Standby', 'Yelling',
       '7.2.41', 'Lltn', '7.2.45', 'Nabor', 'X 594', 'Glass Bottles',
       'Missing Juvenile', 'Sexual Assault Juve', '852', 'Escalating',
       'Demo / Protest', 'Death / Coroner', 'Jjo', 'Vc21113a',
       'Aggressive 601', 'Sexual Assault Adult', '601 Ug',
       'Recover Missing Veh', 'Npat', 'Aggr Soliciting', '7.2.46',
       'Dog Barking', '800', 'Grand Theft', 'Rz/dw',
       'H&r Injury Accident', 'Pepperspray', '22500e/22500b', 'Vendors',
       'Agg Assault / Adw', 'Crack', '905/muni', 'Opp', '311',
       'Stolen Property', 'Poss Caser', '22500h', '22514',
       'Senile Person', '311 X', 'Selling Foods', 'Muni', 'Elevator',
       'Veh', 'Ll/td', '221', 'Static', 'Road Rage', 'W/a Hammer',
       '221 Poss', 'At Risk', 'Drop', 'Juve Beyond Control', '22500e/.25',
       'Squattters', 'Illegal Vendor', '7.2.25', 'Parking Space',
       'Susp Poss', '22500a', '913/child', 'Dancer', '500f', '500h',
       '7.2.28', 'Drinking', '240/spit', 'Poss 5150', 'Ped',
       'Pepper Spray', '222', '487', '368ca Poss', '470', '22500i',
       'Panic Alarm', 'Drugs Needles', '911 Hu', 'Purse Snatch',
       '212 Poss', '7.2.26', 'Custody', '7.2.27', '22500eal',
       'Resisting Arrest', 'Mc', 'Dirtbikes', 'Gamblers', 'Drugs/dealing',
       'Drunk Driver', 'Ret', 'Spitter', 'Prostitute/solicite',
       'Aided Case', '22500f/cw', 'Suspect', '518/muni', '22500b',
       'Barking', '7.2.32', 'Bat', 'Dirtbikes/586', '213', 'Encampments',
       '7.2.38', '7.2.40', 'Ll/ll', 'Adv', 'Chp', '911-Drop', 'Hammer',
       'Open Line', 'Physical', 'Dog', '915 Sleeper', '910',
       'Pay Dispute', '245', 'Keys', 'Nabors', '650', 'Opportunist',
       'Live Band', 'Recorder', 'Female', 'Poss 152', 'Poss Casing',
       '915 Encampment', 'Tx To Chp', 'Party Yelling', '852 Poss',
       "Juv's", '586/poss 588', '5150', 'At The Atm', 'Male/poss Hazard',
       'Heated', 'Adv To 0123', 'Busn', 'Dw Tow', 'Band', 'Kidnapping',
       'Poss Attempt', 'Driveway', 'Threats Dv', '415 Music',
       'Att/240 Jo', '5150 Poss', 'Stick', 'Spike', '647b Poss', 'Alarm',
       'Sideshow', '22502a', 'Taxi Zone', 'Graffiti Vandalism', '601 Rtl',
       'Living', 'Roof', 'Dp', '22500l', '801 Poss', 'J/o', 'Gz', 'Caser',
       'Wz', '519', 'Poss Escalating', 'Sign', 'Ambulance', 'Drops//busn',
       'Suspects', '811 Male', 'Camp', 'Attemp', 'Drinkers', 'Uwg', 'Lp',
       'H&r', 'Poss 207', 'Tree Bark', 'Poss 800', 'Vendor', 'Casing/852',
       'Ro Viol', '519 Poss', '9915', 'Pups', '518hr', 'Reckless Mcs',
       '586', '800attempt', 'Follow Up', 'Chop Shop', 'Paydispute',
       'Illegal Gambling', 'Rep Identity Theft', '225800e',
       '852 Occupied', '594 Poss', 'Busn/voip', 'Roadrage', '252500e',
       '420 Drugs', '912', 'Sudrugs', 'Fi**expedite**', 'Rtl/aggressive',
       'Ro Violation', 'Tow Truck', '800 Poss', '*909*', '22500',
       '152 Jo', '7.2.25/2250e', 'Agressive', 'Pay Dis', 'Rtl Cab',
       'Drummer', '22500f/7.2.70', 'Person W/knife Dv', 'Hu', '800  Poss',
       '152 Poss', 'Elderly X', 'Hold Up', 'Chp 1030 Veh', 'Sagressive',
       'Bart', '240 Poss', 'Illegal Vendors', 'Loud Party', 'Stabbing',
       'Roomate', 'Fireworks', 'Property', 'Iph', 'Bottles', 'Cane',
       'Get Inside The Bldg', 'Music/909', 'Panic', '601rtl',
       'Vandalism Dv', 'Neighbors', 'Open', 'Poss/910prem Check',
       'Stattic', '594 Ip', '601uwg', '911', 'Poss 519', 'Making A Mess',
       'Campers W/bikes', 'Pos Jumper', 'Doorway/917', 'Camping',
       '**Tazer**', 'Loading Dock', 'Bl', 'Naked', 'Attempt',
       'Explosive Found', 'Car Campers', '915 Campers',
       'Poss Unreported 1030', 'Subj', 'Fp', 'Gambling', 'Wild',
       '5150 Hold Poss', '419', '7.2.41/22500f', 'Shooting Up',
       'St Vendors', '22500e/rz', 'Person Break In Dv', 'Veh W/open Door',
       '22507.8a', 'Poss 801', '901 For 909', 'Unocc', 'Samurai',
       '911 Open', 'Poss/851 Attemp Poss', 'Drugdealer', "Mc's", 'S',
       'Rp', '459', 'Atc', '915s', 'Rtl/811', '420', 'Amplified',
       'Tra7.2.37', 'Casers', 'Jump', 'Dismember Body Part', 'Poss/420',
       '500b', '7.2.25/22500e', 'Busy', '528 Poss', 'Poss Walk Thru',
       'Mace', 'Child', 'Loud Bass', 'Spit', 'Prem', 'Roof Squatters',
       '.25/500e', '910 X', 'Drug Use', 'In Svc/ On Foot', 'Explosion',
       'Scratch', '916/music', 'Return Call', 'Verbals', '100v',
       'Loud Talking', '601/415', 'Hot', 'Cassing', 'Poss 488', 'A',
       '152', '601/311', 'Trc 7.2.45', 'Cz', 'Silent', 'Poss Hazard',
       '502a', '801 Threats', 'Home Invasion', '911 Drop', 'Tz', 'Npa',
       'Toilet', 'Dropped Call', '459 Attempt', 'Ucpd', 'Jumper',
       'Dog Bite', '909x', 'Attempt Report', 'Tro', 'Stepping On Plants',
       'Muni Alarm', 'Ld', '240/602 Suspect', 'Poss Susp', '311x/poss800',
       'Dogs Barking', 'Panhandler W/pitbull', 'Video Surveillence',
       'H/r', '221/222 Poss', 'Areport', 'Protestors', '470 Poss',
       'Broken Window', '`Drugs', 'Haz', 'House', '418rm', '240', '21211',
       'Att Jo', "Loud Subj's", '811 Poss', '601/488', '7.2.70', 'Resd',
       'Maced', '801', 'Suatters', '22514/500b', '212', '911 Open Line',
       'Recycling', 'Park Ranger', 'Curb', 'Pills', 'Ll/ Tenant',
       '219/601', 'Ifo', '911 Hu Call', '920 Rtl', 'Poss Att', 'Att Only',
       'Ams', '***901 Req***', 'Drugs/915', 'Rpt', 'Children', '500e/rz',
       'Vehicle', 'Ug Rtl', '601/family', 'Death', 'Att Susp', '9909',
       '2 Reps', 'Vending', 'Drp', 'Brewing/pay Dispute', 'Skateboarders',
       'Sonitrol', 'Wreckless Driver', '148', 'Bicylist', '852 Casing',
       'Nabo', 'R.o. Violation', '910 Poss', '22500e/500h', 'Pay Disp',
       '22654e', 'Brewing', '.52', 'Phys', '222 Att', 'Wireless-Open',
       'Adv To Co A', 'Wireless-H/u'], dtype=object)

'----'

'OffenseDate'

array(['2016-03-30T00:00:00', '2016-03-31T00:00:00',
       '2016-04-01T00:00:00', '2016-04-02T00:00:00',
       '2016-04-03T00:00:00', '2016-04-04T00:00:00',
       '2013-04-04T00:00:00', '2025-04-04T00:00:00',
       '2016-04-05T00:00:00'], dtype=object)

'----'

'CallTime'

array(['18:42', '15:31', '16:49', ..., '6:12', '6:33', '6:55'],
      dtype=object)

'----'

'CallDateTime'

array(['2016-03-30T18:42:00', '2016-03-31T15:31:00',
       '2016-03-31T16:49:00', ..., '2016-04-05T23:43:00',
       '2016-04-05T23:48:00', '2016-04-05T23:54:00'], dtype=object)

'----'

'Disposition'

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', '22',
       'CRT', 'SFD'], dtype=object)

'----'

'Address'

array(['100 Block Of Chilton Av', '2300 Block Of Market St',
       '500 Block Of 7th St', ..., 'Hollister Av/hawes St',
       'Rosella Ct/onondaga Av', '0 Blk Herbst Rd'], dtype=object)

'----'

'City'

array(['San Francisco', nan, 'Daly City', 'Treasure Isla', 'Yerba Buena',
       'SAN FRANCISCO', 'Presidio', ' S', 'Brisbane'], dtype=object)

'----'

'State'

array(['CA', nan], dtype=object)

'----'

'AgencyId'

array(['1', 'CA'], dtype=object)

'----'

'AddressType'

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', 'Intersectioon', '1'], dtype=object)

'----'

#### **Errores encontrados:**
5. La columna OriginalCrimeTypeName cuenta con varios valores atípicos. Específicamente son datos de tipo numérico, de texto, en algunos casos presentan un sólo caracter, en otros casos existe la combinación de simbolos, numeros y letras.
6. La columna OffenseDate cuenta con fechas que se encuentra fuera de la mayoría del resto de las muestras.
7. La columna Disposition cuenta con dos valores anormales que se salen del evidentemente del resto de las muestras.
8. La columna City cuenta con valores que están en minúsculas y mayúsculas. También cuenta con valor de un solo carácter.
9. La columna AgencyId cuenta con un datos de tipo texto, donde la gran mayoría de los datos son de tipo numérico.
10. La columna AddressType contiene valores similares que pudieron ser digitados erróneamente. Así mismo, cuenta con un valor numerico, donde la mayoria de los datos son de tipo texto.

A continuación, se muestran los valores encontrados de cada una de las columnas del dataset, en el cual se basó para realizar las observaciones y encontrar los problemas:

In [15]:
""" encontrar el numero de veces que se repiten los valores unicos de cada una de las caracteristicas """
def valores_unicos_etiquetas(n_caracteristicas):
    for i in n_caracteristicas:
        display(df.groupby(i).size().reset_index(name='Cantidad'))

In [16]:
""" ejecutar funcion para encontrar el nro de veces que se repite un valor en las filas de las caracteristicas"""
valores_unicos_etiquetas(caracteristicas)

         CrimeId  Cantidad
0      160903280         1
1      160912272         1
2      160912590         1
3      160912801         1
4      160912811         1
...          ...       ...
10042  160964210         1
10043  160964216         1
10044  160964227         1
10045  160964229         1
10046  160964249         1

[10047 rows x 2 columns]

    OriginalCrimeTypeName  Cantidad
0           ***901 Req***         1
1               **Tazer**         1
2                   *909*         1
3                .25/500e         2
4                     .52         1
..                    ...       ...
570                    Wz        12
571                     X        17
572                 X 594         1
573               Yelling         3
574                `Drugs         1

[575 rows x 2 columns]

           OffenseDate  Cantidad
0  2013-04-04T00:00:00         1
1  2016-03-30T00:00:00         1
2  2016-03-31T00:00:00        87
3  2016-04-01T00:00:00      2224
4  2016-04-02T00:00:00      2259
5  2016-04-03T00:00:00      2193
6  2016-04-04T00:00:00      2255
7  2016-04-05T00:00:00      1030
8  2025-04-04T00:00:00         1

     CallTime  Cantidad
0        0:00        10
1        0:01         5
2        0:02         6
3        0:03        11
4        0:04        11
...       ...       ...
1411     9:55         7
1412     9:56         5
1413     9:57         7
1414     9:58        11
1415     9:59         9

[1416 rows x 2 columns]

             CallDateTime  Cantidad
0     2016-03-30T18:42:00         1
1     2016-03-31T15:31:00         1
2     2016-03-31T16:49:00         1
3     2016-03-31T17:38:00         1
4     2016-03-31T17:42:00         1
...                   ...       ...
5111  2016-04-05T23:32:00         2
5112  2016-04-05T23:38:00         1
5113  2016-04-05T23:43:00         1
5114  2016-04-05T23:48:00         2
5115  2016-04-05T23:54:00         1

[5116 rows x 2 columns]

     Disposition  Cantidad
0             22        77
1            ABA        97
2            ADM        48
3            ADV      1142
4            ARR        65
5            CAN       353
6            CIT      1425
7            CRT         2
8            GOA      1273
9            HAN      2820
10           INC        17
11           NCR        82
12            ND       427
13           NOM       324
14  Not recorded       543
15           PAS       170
16           REP       800
17           SFD         1
18           UTL       385

                        Address  Cantidad
0                  0 Blk 6th St         1
1     0 Blk Colin P Kelly Jr St         1
2              0 Blk Eugenia Av         1
3                 0 Blk Fern St         1
4              0 Blk Harriet St         3
...                         ...       ...
5382         Yerba Buena Island         1
5383         Yorba St/sunset Bl         1
5384            York St/19th St         1
5385            York St/24th St         1
5386    Yosemite Av/jennings St         1

[5387 rows x 2 columns]

            City  Cantidad
0              S         1
1       Brisbane         1
2      Daly City         5
3       Presidio         3
4  SAN FRANCISCO         1
5  San Francisco      9665
6  Treasure Isla        51
7    Yerba Buena         3

  State  Cantidad
0    CA     10048

  AgencyId  Cantidad
0        1     10048
1       CA         3

       AddressType  Cantidad
0                1         3
1  Common Location       818
2     Geo-Override       469
3     Intersection      3701
4    Intersectioon         1
5  Premise Address      5059

# 3. Solucionar errores encontrados en el dataset

#### **Soluciones planteadas:**
1. Aplicar imputación por moda.
2. Aplicar imputación por moda.
3. Eliminar columna Range.
4. Eliminar registros repetidos en la columna CrimeId.
5. Pendiente.
6. Imputar por moda
7. Opciones: <br>
    a. Imputar por moda.<br>
    b. Igualar a Nan y luego aplicar un map para convertirlos en datos numericos. Luego, aplicar imputación por promedio.
8. Pasos:<br>
    a. Estandarizar u homogeneizar etiquetas.<br>
    b. Opciones:<br>
        a. Imputar por moda.<br>
        b. Igualar a Nan y luego aplicar un map para convertirlos en datos numericos. Luego, aplicar imputación por promedio.
9. Opciones:<br>
    a. Eliminar registros
10. Opciones:<br>
    a. Eliminar registros. <br>
    b. Estandarizar u homogeneizar etiquetas.

## 3.1 Eliminar registros

* **Range**

In [17]:
""" eliminar columna Range porque contiene datos faltantes en todas sus muestras"""
df.drop(columns='Range', axis=1, inplace=True)

* **CrimeId**

In [18]:
""" obtener registros de datos duplicados de la columna CrimeId para eliminarlos"""
df[df.duplicated('CrimeId')]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
1707,160913455,Susp,2016-04-01T00:00:00,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,Intersection
3792,160913455,Passing Call,2016-04-02T00:00:00,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,San Francisco,CA,1,Premise Address
7046,160950496,Suspicious Vehicle,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,Premise Address
7047,160950496,Trespasser,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,San Francisco,CA,1,Premise Address

* **AgencyId y AddressType**

In [19]:
""" agrupar muestras que poseen datos desconocidos en columnas que tienen otro valor en su mayoria de muestras """
df.groupby(['AgencyId','AddressType']).count()

                          CrimeId  OriginalCrimeTypeName  OffenseDate  \
AgencyId AddressType
1        Common Location      818                    818          818
         Geo-Override         469                    469          469
         Intersection        3701                   3701         3701
         Intersectioon          1                      1            1
         Premise Address     5059                   5059         5059
CA       1                      3                      3            3

                          CallTime  CallDateTime  Disposition  Address  City  \
AgencyId AddressType
1        Common Location       818           818          818      818   817
         Geo-Override          469           469          469      469   151
         Intersection         3701          3701         3701     3701  3701
         Intersectioon           1             1            1        1     1
         Premise Address      5059          5059         5059     5059  5059
CA       1                       3             3            3        3     1

                          State
AgencyId AddressType
1        Common Location    818
         Geo-Override       469
         Intersection      3701
         Intersectioon        1
         Premise Address   5059
CA       1                    0

In [21]:
""" obtener y mostrar registros que contienen los valores 'CA' y '1' """
df[(df['AgencyId']=='CA') & (df['AddressType']=='1') ]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
5771,160942112,Auto Boost / Strip,2016-04-03T00:00:00,14:30,2016-04-03T14:30:00,REP,Martin Luther King Dr/bowling Green Dr,NaN,NaN,CA,1
8021,160952280,Auto Boost / Strip,2016-04-04T00:00:00,14:46,2016-04-04T14:46:00,REP,Martin Luther King Dr/nancy Pelosi Dr,S,NaN,CA,1
8473,160953118,Auto Boost / Strip,2016-04-04T00:00:00,18:11,2016-04-04T18:11:00,REP,Conservatory Drive E/john F Kennedy Dr,NaN,NaN,CA,1

In [22]:
"""eliminar registros obtenidos de CrimeId, AgencyId y AddressType """
df.drop([1707, 3792, 7046, 7047, 5771, 8021, 8473], axis=0, inplace=True)

En este apartado se procede a eliminar ciertos valores de tipo NaN, así como también, valores que se desconocen o que no son muy comunes en determinadas características. Para el primer caso, se elimina la columna Range debido a que sus datos presentan valores Nan. Es decir, no existe otro valor adicional para hacer una referencia en el caso de aplicar un metodo de sustición. Por otro lado, se eliminan las muestras que poseen valores desconocidos y que se pueden considerar como atípicos puesto que son distintos a la mayoria de las muestras. Para este caso, las columnas 'AgencyId' y 'AddressType', poseen valores CA y 1 respectivamente, donde las muestras restantes poseen otros valores del mismo tipo en su mayoria. Por lo tanto, los registros se eliminan por el número de filas que coinciden con los valores que se mencionaron en la ultima parte. Estos registros representan aproximadamente el 0.66% (0.3% por CA y 1, 0.36% registros duplicados) del total de las muestras. Es decir, ya no se cuentan con el 100% si no con el 99.34% de las muestras que representaria a la cantidad de 1044 muestras, anteriormente de 1051.

In [23]:
""" verificar nueva dimension del dataset """
df.shape

(10044, 11)

In [24]:
""" comprobar datos faltantes en el resto del conjunto de datos"""
df.isnull().sum()

CrimeId                    0
OriginalCrimeTypeName      0
OffenseDate                0
CallTime                   0
CallDateTime               0
Disposition                0
Address                    0
City                     319
State                      0
AgencyId                   0
AddressType                0
dtype: int64

## 3.2 Estandarizar etiquetas

* **Columna City**

In [25]:
""" verificar nuevamentes los valores unicos de la columna City despues de la eliminacion de datos desconocidos"""
df['City'].unique()

array(['San Francisco', nan, 'Daly City', 'Treasure Isla', 'Yerba Buena',
       'SAN FRANCISCO', 'Presidio', 'Brisbane'], dtype=object)

In [26]:
""" Cambiar a mayuscula la letra inicial de cada palabra en todas las etiquetas de la columna City"""
df['City'] = df['City'].apply(lambda x: x if pd.isna(x) else string.capwords(x) )

* **Columna Disposition**

In [27]:
""" mostrar etiquetas para estandarizar (Intersectioon->Intersection)"""
valores_unicos_etiquetas(['AddressType'])

       AddressType  Cantidad
0  Common Location       818
1     Geo-Override       469
2     Intersection      3700
3    Intersectioon         1
4  Premise Address      5056

In [28]:
""" reemplazar etiqueta Intersectioon por Intersection """
df['AddressType']= df['AddressType'].apply(lambda x: x if not 'Intersectioon' else x.replace('Intersectioon','Intersection') )

In [29]:
""" comprobar etiquetas estandarizadas"""
valores_unicos_etiquetas(['City','AddressType'])

            City  Cantidad
0       Brisbane         1
1      Daly City         5
2       Presidio         3
3  San Francisco      9662
4  Treasure Isla        51
5    Yerba Buena         3

       AddressType  Cantidad
0  Common Location       818
1     Geo-Override       469
2     Intersection      3701
3  Premise Address      5056

## 3.3 Aplicar imputación de datos

* **Imputar datos faltantes por moda en columnas City, Disposition Y OffenseDate**

In [30]:
""" cambiar valores atipicos a datos faltantes """
df.loc[df.Disposition=='22','Disposition']= np.nan
df.loc[df.Disposition=='Not recorded','Disposition']= np.nan
df.loc[df.OffenseDate=='2013-04-04T00:00:00','OffenseDate']= np.nan 
df.loc[df.OffenseDate=='2025-04-04T00:00:00','OffenseDate']= np.nan

In [31]:
def imputar_conModa(n_caracteristicas):
    """ crear instancia de imputacion para reemplazar datos Nan por la moda """
    impu_moda = SimpleImputer(strategy='most_frequent', missing_values=np.nan)
    for i in n_caracteristicas:
        """ definir columna para imputar y aprender datos"""
        impu_moda_= impu_moda.fit(df[[i]])
        """ transformar datos aprendidos y aplicar la imputacion de datos faltantes """
        df[i] = impu_moda.transform(df[[i]])

In [32]:
imputar_conModa(['City','Disposition','OffenseDate'])

In [33]:
""" verificar etiquetas despues de aplicar la imputacion de datos en la columna City """
valores_unicos_etiquetas(['City','Disposition','OffenseDate'])

            City  Cantidad
0       Brisbane         1
1      Daly City         5
2       Presidio         3
3  San Francisco      9981
4  Treasure Isla        51
5    Yerba Buena         3

   Disposition  Cantidad
0          ABA        97
1          ADM        48
2          ADV      1142
3          ARR        65
4          CAN       352
5          CIT      1425
6          CRT         2
7          GOA      1272
8          HAN      3439
9          INC        17
10         NCR        82
11          ND       426
12         NOM       324
13         PAS       170
14         REP       797
15         SFD         1
16         UTL       385

           OffenseDate  Cantidad
0  2016-03-30T00:00:00         1
1  2016-03-31T00:00:00        87
2  2016-04-01T00:00:00      2223
3  2016-04-02T00:00:00      2260
4  2016-04-03T00:00:00      2192
5  2016-04-04T00:00:00      2251
6  2016-04-05T00:00:00      1030

In [34]:
""" comprobar datos faltantes en el resto del conjunto de datos"""
df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

# 4. Convertir a Json

In [38]:
""" crear archivo Json con el conjunto de datos """
df_js= df.to_json('dataset_limpieza_datos.json',orient='records',lines=True)

None